/*-----------Global------------*/

body {
    margin: 0;
    padding: 0;
}

/*------------NAV BAR---------*/

.nav-bar {
    height: 110px;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to bottom right,#b3ffb3,#66ff66,#5cd6d6);
}

/*-----------HERO-ABOUT---------*/

.hero-about {
    background-image: url(../img/hero-about.jpg);
    margin-top: 110px;
    width: 100%;
    height: 630px;
    text-align: center;
}


.hero-about-text {
    margin-top: 50px;
    color: #000;
}
