body {
    background-color: #223;
    width: 100%;
}

.hero-img-top {
    background-image: url(../img/hero-top.jpg);
    height: 700px;
}

.hero-img-mid {
    background-image: url(../img/hero-mid.jpg);
    height: 852px;
}

