/*----------------GLOBAL---------------*/

body {
    background-color: #223;
    color: #888;
    line-height: 2;
    margin: 0;
    padding: 0;
}

/*--------------NAV BAR----------------*/

.nav-bar {
    height: 90px;
    width: 100%;
}

.nav-list {
    float: right;
    list-style-type: none;
}

.list-item {
    float: left;
    margin: 17px 30px 25px 30px;
}

.nav-text {
    color: #99a;
    text-decoration: none;
}

.nav-text:HOVER {
    color: #777;
}

.logo {
    width: 13%;
    margin: 27px 20px;
}

/*----------------HERO TOP--------------*/

.hero-img-top {
    background-image: url(../img/hero-top3-v3.jpg);
    height: 720px;
}

.h-text {
    text-align: center;
    margin-top: 50px;
    color: #000;
}

.github {
    width: 50px;
    margin: 150px 0px 0px 615px;
}

.down-arrow {
    width: 85px;
    margin: 245px 0px 0px 595px;
}

/*-------------------MAIN---------------*/

.main {
    height: 250px;
    text-align: center;
}

.main-text {
    height: 150px;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

.rr {
    color: #009933;
    text-decoration: none;
}

.rr:HOVER {
    color: #00802b;
}

/*--------------------HERO MID---------------*/

.hero-mid {
    background-image: url(../img/hero-mid.jpg);
    height: 600px;
}

/*--------------------HERO BOT----------------*/

.hero-bot {
    background-image: url(../img/hero-bot1.jpg);
    height: 650px;
}

/*--------------------FOOTER------------------*/

.footer {
    height: 150px;
}

.footer-col {
    width: 33%;
    margin-top: 11px;
    float: left;
}

.email {
    margin: 25px 0px 0px 55px;
}

.submit {
    background-color: #223;
    border-style: solid;
    border-color: #126d26;
    font-size: 13px;
    color: #888;
}

.submit-but {
    background-color: #223;
    border-style: none;
    font-size: 13px;
    color: #888;
}

.submit-but:HOVER {
    color: #777;
}

.soc-med-icon {
    width: 30px;
    float: left;
    margin: 25px 0px 0px 80px;
}

.copyright {
    margin: 35px 0px 0px 200px;
}