body {
    background-color: #223;
    color: #888;
}

.nav-bar {
    height: 90px;
    width: 100%;
}

.nav-list {
    float: right;
    list-style-type: none;
}

.list-item {
    float: left;
    margin: 25px 30px 25px 30px;
}

.nav-text {
    color: #889;
    text-decoration: none;
}

.nav-text:HOVER {
    color: #bbb;
}

.logo {
    width: 8%;
    margin: 20px 20px;
}

.hero-img-top {
    background-image: url(../img/hero-top.jpg);
    height: 700px;
}

.h-text {
    text-align: center;
    margin-top: 50px;
    color: #000;
}

.github {
    width: 50px;
    margin: 150px 0px 0px 600px;
}

.down-arrow {
    width: 85px;
    margin: 220px 0px 0px 582px;
}

.main {
    height: 275px;
    text-align: center;
}

.hero-mid {
    background-image: url(../img/hero-mid.jpg);
    height: 360px;
}

.hero-bot {
    background-image: url(../img/hero-bot.jpg);
    height: 360px;
}

.footer {
    height: 75px;
}

.footer-col {
    width: 30%;
    margin: 0 auto;
    float: left;
}

.soc-med-icon {
    width: 30px;
    float: left;
}